h1 {
    font-size: 40px;
}

button {
    max-width: 55px;
    max-height: 50px;
}

.quiz-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.timer {
    display: flex;
    justify-content: flex-end;
}