h1 {
    font-size: 40px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

button {
    max-width: 55px;
    max-height: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

nav a {
    text-decoration: none;
}

.quiz-container {
    display: flex;
    width: 50%;
    margin: 40px auto;
}

.quiz-wrapper, 
.question-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
ul.question-list {
    padding: 0;
}


.timer {
    display: flex;
    justify-content: flex-end;
}

.is-hidden {
    display: none;
}